/* Kommentar */
html {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  background-color: #FDFAF3;
}

/* Universalselektor um alles zu normalisieren. */
* {
  margin: 0;
  padding: 0;
}

header, footer {
   padding: 0 20px;
}

/* Unterstreichung von Links entfernen und Farbe*/
a:link {
  text-decoration: none;
  color: #271300;
}
a:visited {
  color: grey;
}
a:hover {
  color:#217385;
}

/*Schriftfarbe*/
h1, h2, h3, p {
  color: #06161a;
}

h1 {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  padding-top: 45px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 50px;
}


h2 {
  font-weight: 500;
  text-align: center;
}

h3 {
  font-weight: 450;
}

/* Lisa: bei deiner about seite, dem p-tag:
arbeite nicht mit 200px padding links und rechts,
sondern lieber mit width in % und max-width und
positioniere das mittig über margin: 0 auto */
p {
  width: 60%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto
}

iframe {
  border-radius: 5px;
}

/*Beiden folgenden Codeschnipsel sagen:
Video passe dich der Box an*/
 #video_Startseite iframe,
 .anordnung2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video_Startseite,
.anordnung2 div{
  position: relative;
  padding-bottom: 56.25%;
  height: 0; */
  overflow: hidden;
}


#logo h1  {
  border-radius: 10px;
  color: #271300;
}

#logo h1 a:visited {
  color: #271300;
}

 footer a:visited {
  color:  white;
}

footer a:link {
  color:  white;
}

/* Menüleiste umwandeln als Reihe */
nav ul {
    list-style-type: none;
}
nav li {
  display: inline-block;
}

li {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
}

/*Menüleiste Container*/
.container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: stretch;
  border-bottom: 2px dotted #103138;
}

.container>nav {
  padding-top: 20px;
}


/*MasterLisaMove - Sagt den Bildern egal wie gross
  du bist, passe dich der Box an*/
img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  max-width: 100%;
}

#wrapper {
  max-width:1280px;
  margin:0 auto;
  padding-bottom: 40px;
}

.anordnung {
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
/*grid-template-area:
  "quer1 quer1 quer1 quer1"
  "quer1 quer1 quer1 quer1"
  "hoch1 hoch1 hoch2 hoch2"
  "hoch1 hoch1 hoch2 hoch2"
  "quer2 quer2 quer2 quer2"
  "quer2 quer2 quer2 quer2"; */
}

.anordnung2 {
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
}


.anordnung2 section h1{
  color: #217385;
  font-weight: 100;
  font-size: 22px;
  text-align:left;
  padding: 10px;
}

.anordnung2 section p {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 70px;
}


/*Boxen Video Motion Design*/
.sissiFranz {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
}

.PrinzipienAnimation {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 3;
}

.Knete {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 5;
}

.Groundcontrol{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 7;
}

.KnightRider {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 9;
}

.Kaleidoskop {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 11;
}

/*Boxen 3d*/
.Schmetterling {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
  padding: 10px;
}

.Blume {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
  padding: 10px;
}

.Schmetterlinge {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 5;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.Alien_weiss, .Alien_schwarz, .Alieninvasion {
  padding: 10px;
}

.Alien_schwarz {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 6;
}

.Alien_weiss {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 8;
}

.Alieninvasion {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 10;
}
header {
  grid-column-start: 1;
  grid-column-end: 5;
}

article {
  padding-top: 40px;
  grid-column-start: 2;
  grid-column-end: 4;
}

table {
  text-align: left;
  width: 100%;
  margin:0 auto;
  padding: 40px;
}

th, td {
  border-bottom: 1px dotted #271300;
  padding: 15px;
}

form {
  grid-column-start: 2;
  grid-column-end: 5;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #103138;
  padding: 60px;
  align-items: stretch;
  font-size: 17px;

}

/*Boxen Illustrationen*/
.bild1 {
  grid-area: quer1;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
  padding: 10px;
  padding-bottom: 5px;
}

.bild2 {
  grid-area: hoch1;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
  padding: 10px;
}

.bild3 {
  grid-area: hoch2;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 3;
  padding: 10px;
}

.bild4 {
  grid-area: quer2;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 5;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.bild5 {
  grid-area: hoch3;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 7;
  padding: 10px;
}

.bild6 {
  grid-area: hoch4;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 7;
  padding: 10px;
}
.bild7 {
  grid-area: quer3;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 9;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.bild8 {
  grid-area: quer4;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 11;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.bild9 {
  grid-area: quer3;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 13;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.bild10 {
  grid-area: hoch1;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 17;
  padding: 10px;
}

.bild11 {
  grid-area: hoch2;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 17;
  padding: 10px;
}

.bild12 {
  grid-area: quer3;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 19;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.bild13 {
  grid-area: hoch1;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 21;
  padding: 10px;
}

.bild14 {
  grid-area: hoch2;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 21;
  padding: 10px;
}

.bild15 {
  grid-area: quer3;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 23;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.bild16 {
grid-area: quer3;
grid-column-start: 2;
grid-column-end: 4;
grid-row: 27;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 5px;
padding-left: 10px;
}

.uebersicht .box_illus {
  position: relative;
}
[class*="box_illus"] h2 {
  width: 100%;
  position: absolute;
  top: 87%;
  transform: translateY(-50%);
  margin: 0;
  padding: 5px 0;
  background-color: white;
  color: black; opacity: 0.9;
}


/* Zoom-Effekt Bilder*/
.box_illus {
  margin-left: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  border-radius: 5px;
  display: grid;
  background: white;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.box_illus img {
  border-radius: 5px;
  display: grid;
  margin: 0;
  padding: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.box_illus:hover {
    border-radius: 5px;
}

.box_illus:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .5;
}

/*Email-Formular*/
form {
  display: grid;
  width: 60%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto
}

form fieldset {
  border: none;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 55px;
}

form label {
  width: 100%;
  display: block;
  padding: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
}

form input[type=submit] {
  border-bottom:none;
  border-radius: 10px;
  background-color: #103138;
  color: white;
  font-size:100%;
  width:150px;
  padding:10px 20px;
  margin:15px 0 0 auto;
  display: block;
}

/*Responsive*/
@media (max-width:768px) {
  .container {
    display: grid;
  }
  nav li{
    grid-column-start: 1;
    grid-column-end: 5;

  }

  nav ul {
      text-align: center;


    }
    #Logo h1 {
      padding: 0;
    }

    #Logo {
      font-size: 2px;
      text-align: center;
    }

    li {
      padding-left: 20px;
      padding-right: 20px;
    }
}
